main {
  min-height: calc(100vh - 200px);
  padding-top: 80px; // Compense la hauteur du header fixe
  
  @media (max-width: 768px) {
    padding-top: 70px;
  }

  &.admin-main-wrapper {
    padding: 0;
    margin: 0;
    min-height: 100vh;
  }
}

